@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

body{
  background: #1a1a1a;
}

.dancing-script {
   font-family: 'Dancing Script', cursive;
 }
.font-head{font-family: 'Protest Strike', sans-serif;}

.slider-container .slick-track{
  display: flex;
  
}
@media only screen and (max-width: 768px) {
  /* Hero-section: Adjust spacing and text alignment */
  .Hero-section {
    padding-top: 12px; /* Reduce default padding-top */
    display: flex;
    flex-direction: column;
  }

  /* Image container: Add subtle margin, change order, and increase size */
  .order-1.md:order-1 {
    margin-top: 22px;
    padding-bottom: 50px;
    order: 1;
    max-width: 100%; 
    height: auto;
    width: 100%; 
  }

  /* Text container: Improve readability and spacing */
  .order-2.md:order-2 {
    padding: 4px 8px; 
    justify-content: start; 
  }

  /* Text styles: Enhance clarity and size */
  .dancing-script h1 {
    line-height: 1.2; 
    font-size: 2rem;
    flex-direction: row;
 
  }

  /* Buttons: Optimize size and spacing */
  .flex.items-center.gap-x-4 {
    gap: 8px; 
  }
  .w-fit.px-12.py-2 {
    padding: 8px 8px; /* Slightly reduce button size */
  }
}

.coolinput {
  width: fit-content;
  position: static;
  max-width: 240px;
}
.wider-input {
  width: 400px; /* Replace with your desired width */
}


.coolinput > label.text {
  font-size: 0.75rem;
  /* display: inline; */
  color: #818CF8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  width: fit-content;
}


.coolinput input[type=text].input {
  font-size: 0.75rem;
  border: 2px #818CF8 solid;
  border-radius: 5px;
  padding: 11px 10px;

}

.coolinput input[type=text].input:focus {
  outline: none;
}
  /* REVIEW SECTIO */
.review-section{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}

.title{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(50, 50, 50);
  margin-bottom: .5rem;
}
.note{
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
    color: red;
}


.review{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}

.head-review{
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
}

.rev_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.body-review{
  background-color: rgb(238, 238, 238);
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}
.name-review{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.place-review{
  color: red;
  font-style: italic;
}
.rating{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}

form{
  align-items: center;
}